<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Magento\Catalog\Model\Product\ReservedAttributeList" type="LitExtension\Core\Model\Preference\Product\ReservedAttributeList" />
    <preference for="Magento\Catalog\Model\Product" type="LitExtension\Core\Model\Preference\Product\Product" />
    <preference for="Magento\Catalog\Model\Product\Gallery\Processor" type="LitExtension\Core\Model\Preference\Product\Media" />
    <type name="LitExtension\Core\Logger\Handler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="LitExtension\Core\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">LitExtension</argument>
            <argument name="handlers"  xsi:type="array">
                <item name="system" xsi:type="object">LitExtension\Core\Logger\Handler</item>
            </argument>
        </arguments>
    </type>
</config>